@import "tailwindcss";

html, body {
  scroll-behavior: smooth;
  font-family: 'Inter', 'Noto Sans TC', sans-serif;
  background-image: url("/images/paperboard4.jpg"); /* 可先拿掉，之後再放圖 */
  background-repeat: repeat-y;
  background-position: center top;
  background-size: auto;
  background-color: #000;  
}

